/* New main.css for 2sxc 17 docs */

/* added by 2dm */
.priority-web:after, .toc .nav>li>a.priority-web:after {
  content: " 🌐"; 
}

/* internal not so important */
.priority-internal, .toc .nav>li>a.priority-internal {
  color: lightgray;
}

.priority-data:after, .toc .nav>li>a.priority-data:after {
  content: " 🧊"; 
}

.priority-metadata:after, .toc .nav>li>a.priority-metadata:after {
  content: " 🔖"; 
}

.priority-adam:after, .toc .nav>li>a.priority-adam:after {
  content: " 📷"; 
}

.priority-star:after, .toc .nav>li>a.priority-star:after {
content: " ⭐"; 
}
/* future icons: 🌐 🧊 ♥️ 🔍 🏷️ 🔖 📕 💾 💻 📤 📥📦 🎁💼📁📎🔗 📷🖼️*/
/* see also https://emojipedia.org/microsoft/ */