
// Styles for the "Docs Tiles" component, used in the "Create Your Own App Extension" page and potentially other places in the future.

// .docs-tiles .card {
//   position: relative;
// }

.docs-tiles .card > a {
  position: absolute;
  inset: 0;
  z-index: 2;
  font-size: 0;
  color: transparent;
  overflow: hidden;
}